.team {
  background-image: url(img/team-background.jpg) center/cover no-repeat;
  padding-top: 40px;
  padding-bottom: 125px;
  h6 {
    color: $white;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.5em;
  }
}
